@import '../../styles/utils';
@import '../../styles/variables';

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 48px;

  @include breakpoint(md) { padding: 40px 24px; }
  @include breakpoint(lg) { padding: 40px 32px; }
  @include breakpoint(xl) { padding: 40px 64px; }
  @include breakpoint(xxl) { padding: 40px 128px; }

  .containerMenu {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 8px 16px;
    display: none;
    
    @include breakpoint(lg) { display: flex; }

    a { text-decoration: none; }

    .option {
      margin: 0 8px;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;

      &:hover { background-color: $neutralLighterAlt; }

      span {
        color: $themePrimary;
        font-weight: 600;
      }

      &.active {
        background-color: $themePrimary;
        span { color: $white; }
      }
      
    }
  }

  .iconMenu {
    display: flex;
    font-size: 32px;
    color: $themePrimary;
    
    @include breakpoint(lg) { display: none; }
  }

  .containerLanguage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}